body{
    background-color: #aacbec;
    
    

}
.navbar .navbar-expand-lg{
    color: darkblue;
}
#showcase{
    position:relative;
    overflow: hidden;
    background-position: center;

}
